[Desktop Entry]
Version=1.0
Type=Application
Exec=java -jar /.leolinuxcustom/programs/LeoLinuxApplicationSelector.jar
Icon=android-studio
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Custom Program Selector
Comment=Choose from any of the Leo Linux Custom Programs
Keywords=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
X-XFCE-Source=file:///usr/share/applications/xfce4-run.desktop
Path=/.leolinuxcustom/programs/
