[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=UTC Clock Update
Comment=
Exec=/.leolinuxcustom/programs/UTCclockUpdate
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

